# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Data (Datasets pesados)
ml-python/data/raw/
!ml-python/data/processed/.gitkeep

# IDEs (VSCode / PyCharm)
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db