# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Data (Datasets pesados)
ml-python/data/raw/
ml-python/data/processed/*.csv
!ml-python/data/processed/.gitkeep

# Results & Graphs
ml-python/data/results/graph/*.png
ml-python/data/results/reports/*.txt

# IDEs (VSCode / PyCharm)
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db